body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #50a9f2, #E76F51);
    color: #333;
    overflow-x: hidden;
    opacity: 0;
    overflow: scroll;
    transition:  1.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.9);
}

body.loaded {
    opacity: 1;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 40px;
    margin: 50px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.btn {
    background: linear-gradient(to bottom right, #2c3e50, #3498db);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin: 0 5px;
}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.container {
    padding: 20px;
}

.glass-container {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-bottom: 20px;
    min-height: 220px;
    opacity: 0.9;
}

.glass-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 8px;
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    background: linear-gradient(to bottom right, #2ecc71, #27ae60);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.contact-form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.img-container {
    max-width: 270px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

.img-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.about-text {
    overflow: hidden;
}
.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.progress-bar {
    width: 50%; /* Adjust width as needed */
    height: 15px;
    background-color: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #20e0b6f1;
    border-radius: 5px;
}